body{
    padding: 10px;
}
.modal-header{
    background-color: blueviolet !important;
    color:white;
}
.required{
    color: red;
}
a{
   text-decoration: none;
   color:black;
}

.above-table{
    display:flex;
    justify-content: center;
}
.add{
    margin-bottom: 10px;
    margin-left: 10px;
}
h1{
    padding-left:10px;
}

